.welcome-container {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    'header image'
    'texts   image'
    'action .';
}
.welcome-text {
  grid-area: header;
}
.professional-label {
  grid-area: texts;
}
.bitmoji {
  grid-area: image;
  justify-self: center;
}
.bitmoji img {
  width: 15rem;
}
.call-to-action {
  grid-area: action;
}

/* CSS talk bubble */
.talk-bubble {
  margin: 2rem;
  display: inline-block;
  position: relative;
  width: 12rem;
  background-color: white;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.187);
}

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

/* Right triangle, right side slightly down*/
.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -12px;
  top: 15px;
  bottom: auto;
  border: 12px solid;
  border-color: white transparent transparent white;
}

/* talk bubble contents */
.talktext {
  padding: 1rem;
  text-align: left;
  line-height: 1.5em;
  font-size: 2rem;
}
.talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
