.my-story-container {
  transform: translateY(-60px);
  display: grid;
  grid-template-rows: 12rem 1fr 10rem;
}
.my-story-label {
  padding: 1rem 0;
  font-size: 2rem;
  justify-self: end;
}
.my-story-label h1,
.story-content,
.story-buttons button {
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.187);
}
.my-story-label h1,
.story-content {
  padding: 1rem;
  border-radius: 25px;
}
.story-content {
  height: fit-content;
}
.story-txt {
  font-size: 1.5rem;
}
.story-txt h1 {
  margin: 0 0 20px;
  color: rgba(0, 0, 0, 0.801);
  line-height: 3rem;
}
.story-txt p {
  color: #7d7d7e;
  text-align: justify;
  line-height: 2rem;
}
.my-story-label,
.story-two h1,
.story-four h1 {
  text-align: end;
}
.story-img,
.story-buttons button {
  border-radius: 50%;
}
.story-img {
  height: 15rem;
  width: 15rem;
  shape-outside: circle();
}

.story-one-img {
  background-image: url('./images/navy2.png');
  float: left;
  margin: 2rem 1rem 1rem 0;
  background-size: cover;
}
.story-two-img {
  background-image: url('./images/school1.png');
  float: right;
  margin: 2rem 0 1rem 1rem;
  background-size: 75%;
}
.story-three-img {
  background-image: url('./images/school2.png');
  float: left;
  margin: 2rem 1rem 1rem 0;
  background-size: 75%;
}

.story-four-img {
  background-image: url('./images/work.png');
  float: right;
  margin: 2rem 0 1rem 1rem;
  background-size: 75%;
}
.story-one-img,
.story-two-img,
.story-three-img,
.story-four-img {
  background-color: rgb(241, 241, 241);
  background-repeat: no-repeat;
  background-position: center;
}

.story-buttons {
  display: flex;
  justify-content: space-evenly;
}

.story-buttons button {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  color: #ffffff;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  transition: background 250ms ease-in-out, transform 150ms ease;
  margin: 1rem 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.151);
}

.story-buttons .active,
.story-buttons button:hover,
.story-buttons button:focus {
  background-image: linear-gradient(to left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
