.my-story-container {
  transform: translateY(-60px);
}
.my-story-label {
  border: 2px solid blue;
  text-align: right;
  padding-bottom: 1rem;
}
.story-content {
  height: 400px;
}
.story-txt {
  text-align: justify;
  line-height: 1.5rem;
}
.story-txt h1 {
  margin: 0 0 20px;
}
.story-img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  shape-outside: circle();
}
.story-one-img {
  background-color: aqua;
  float: left;
  margin: 2rem 1rem 1rem 0;
}

.story-two-img {
  background-color: rgb(255, 77, 0);
  float: right;
  margin: 2rem 0 1rem 1rem;
}
.story-three-img {
  background-color: rgb(34, 255, 0);
  float: left;
  margin: 2rem 1rem 1rem 0;
}

.story-four-img {
  background-color: rgb(255, 234, 0);
  float: right;
  margin: 2rem 0 1rem 1rem;
}

.story-buttons {
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}
.story-buttons button {
  font-size: 2rem;
}
