.my-projects-container {
  background-color: tomato;
  -webkit-clip-path: polygon(100% 15%, 100% 85%, 50% 100%, 0 85%, 0 0);
  clip-path: polygon(100% 15%, 100% 85%, 50% 100%, 0 85%, 0 0);
  /* min-height: fit-content; */
}
.my-projects {
  /* grid-area: my-projects; */
  padding: 4rem 0;
  border: 2px solid black;
}
.carousel-projects {
  display: grid;
  justify-items: center;
}
.project-title,
.project-links {
  justify-self: right;
}
.project-image {
  width: 100%;
}

.projects-indicator button {
  font-size: 2rem;
}
.pause-btn {
  padding: 0 2rem;
}
.current-index {
  background-color: aquamarine;
}
