.my-projects-container {
  background-image: linear-gradient(to left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  -webkit-clip-path: polygon(100% 7%, 100% 90%, 50% 100%, 0 90%, 0 0);
  clip-path: polygon(100% 7%, 100% 90%, 50% 100%, 0 90%, 0 0);
  display: grid;
  grid-template-rows: 20rem 6rem 50rem;
}
.my-projects-label {
  margin: 4rem 0;
  padding: 1rem 0;
  justify-self: baseline;
  font-size: 2rem;
}
.my-projects-container h1,
.carousel-projects,
.project-title {
  background-color: white;
}
.my-projects-label h1 {
  padding: 1rem;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.187);
  border-radius: 25px;
}
.carousel-projects {
  display: grid;
  grid-template-rows: 1fr 4rem 3rem auto 4rem;
  justify-items: center;
  border: 10px solid white;
  border-radius: 25px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.187);
  height: fit-content;
}
.project-title {
  z-index: -1;
  border-radius: 15px 15px 0 0;
  padding: 0.7rem 2rem 1.2rem 2rem;
  transform: translateY(1.4rem);
  justify-self: right;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.187);
  color: rgba(0, 0, 0, 0.801);
}
.project-title,
.project-links {
  font-size: 1.5rem;
}

.project-image {
  width: 95%;
  height: 30rem;
  padding: 1rem 0;
  margin: 1rem 0;
  border-radius: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(241, 241, 241);
}
.project-image.Votelity {
  background-image: url('./images/votelity.png');
}
.project-image.Tipsee {
  background-image: url('./images/tipsee.png');
}
.project-image.Todo {
  background-image: url('./images/todo.png');
}
.project-image.Portfolio {
  background-image: url('./images/accomplished.png');
}
.projects-indicator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
  justify-content: space-between;
  height: 100%;
  width: 95%;
}

.projects-indicator button {
  font-size: 2.5rem;
  padding: 0 1rem;
  background-color: transparent;
  transition: all 0.3s;
}
.projects-indicator button i:hover {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 25px;
}
.pause-btn {
  justify-self: end;
}
.pause-btn:hover {
  transform: scale(1.1);
}
.pause-btn:active {
  transform: scale(0.9);
}
.carousel-projects i {
  padding: 1rem;
  min-width: 3rem;
}
.selected-project i {
  border-radius: 25px;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}

.project-description {
  font-size: 1.7rem;
  width: 95%;
  height: fit-content;
  color: #7d7d7e;
}
.project-description h2 {
  margin-bottom: 1.2rem;
  color: rgba(0, 0, 0, 0.801);
}

.project-links {
  width: 95%;
  text-align: end;
  padding: 1rem 0;
}
.project-links span {
  color: #7d7d7e;
}
.project-links a {
  text-decoration: none;
  color: #66a6ff;
  transition: all 0.3s;
}

.project-links a:hover {
  text-decoration: none;
  color: #fd868c;
}
