.contact-me-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    'contact-me'
    'input-field'
    'thank-you';
}

.contact-me,
.contact-form,
.thank-you {
  border: 2px solid black;
}

.contact-me {
  grid-area: contact-me;
  justify-self: center;
  padding: 1rem 0;
}
.contact-form {
  grid-area: input-field;
}
/* .sent-image {
  grid-area: sent-image;
} */
.thank-you {
  grid-area: thank-you;
  justify-self: center;
}
