.contact-me-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    'contact-me'
    'input-field'
    'footer';
}

.contact-me-label {
  grid-area: contact-me;
  justify-self: center;
  font-size: 2rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.187);
  border-radius: 25px;
  margin: 2rem 0;
}
.contact-form {
  grid-area: input-field;
}

.form {
  height: 640px;
  padding: 20px 30px;
  box-sizing: border-box;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.187);
  border-radius: 25px;
}
input,
.form-btn {
  font-size: 1.5rem;
}
input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
input:focus {
  border-bottom: 2px solid #78788c;
}
.input-container:before {
  content: attr(name);
  display: block;
  margin: 28px 0 0;
  font-size: 1.7rem;
  font-weight: bold;
}
.submit-area {
  display: grid;
  grid-template-columns: 15rem 1fr auto;
}
.form-btn {
  padding: 1rem;
  background-image: linear-gradient(to left, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.187);
  transition: all 0.3s;
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.187);
  border-radius: 25px;
  font-size: 1.7rem;
  font-weight: bold;
  height: fit-content;
  place-self: end;
  margin: 1rem;
}
.form-btn:hover {
  transform: scale(1.1);
}
.form-btn:focus,
.form-btn:active {
  transform: scale(0.9);
}
.talksoon {
  width: 15rem;
}
.talk-bubble-blue {
  margin-top: 3rem;
  position: relative;
  width: 12rem;
  height: fit-content;
  color: white;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.187);
}
.tri-left.left-in::before {
  content: ' ';
  position: absolute;
  left: -15px;
  top: 15px;
  bottom: auto;
  border: 12px solid;
  border-color: #89f7fe #89f7fe transparent transparent;
  z-index: -1;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
.footer {
  grid-area: footer;
  justify-self: center;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .thanks {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}
.footer .linkedin {
  height: 6rem;
  width: 6rem;
}
.footer .github {
  height: 5.5rem;
  width: 5.5rem;
}
