* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 15px;
}

button {
  display: inline-block;
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .welcome-container,
  .my-story-container,
  .my-projects-container,
  .contact-me-container {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@supports (display: grid) {
  @media screen and (max-width: 599px) {
    .site {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 400px 750px 1300px 500px;
    }
  }

  @media screen and (min-width: 600px) {
    .site {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 700px 500px 1200px 600px;
    }
  }

  @media screen and (min-width: 1200px) {
    .site {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 700px 500px 1600px 600px;
    }
  }
}
